@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-create-block-roi-calculator {
  font-family: "Poppins", sans-serif;
  &__box {
    background-color: #286cfc;
    border-radius: 2.4rem;
    gap: 2.4rem;
    margin: 0 auto;
    max-width: 1024px;
    padding: 2.4rem;

    &--top {
      border-bottom: 12px solid #fff;
      border-radius: 2.4rem 2.4rem 0 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    &--bottom {
      border-radius: 0 0 2.4rem 2.4rem;
    }
  }

  &__form-group {
    display: flex;
    gap: 1.6rem;

    &--compact {
      gap: 0;
    }
  }

  &__form-label {
    color: #fff;
    margin-bottom: 0.4rem;
  }

  &__range-input {
    width: 100%;
    flex: 0 0 90%;
  }

  &__range-value {
    color: #fff;
    justify-self: flex-end;

    &--percentage {
      &:after {
        content: "%";
      }
    }
  }

  &__currency-select {
    appearance: none;
    border: none;
    background: none;
    border-bottom: 1px solid #fff;
    max-width: 120px;
    font: var(--wp--preset--font-family--manrope) 1.6rem;
    color: #fff;
    width: 100%;
    &:focus,
    &:focus-visible {
      outline: none;
    }
  }

  &__number-input,
  &__currency-input {
    appearance: none;
    border: none;
    background: none;
    border-bottom: 1px solid #fff;
    max-width: 320px;
    font: var(--wp--preset--font-family--manrope) 1.6rem;
    color: #fff;
    width: 100%;
    &:focus,
    &:focus-visible {
      outline: none;
    }
  }

  &__grid {
    display: grid;
    width: 100%;
    &--top {
      grid-template-columns: repeat(2, 1fr);
      text-align: center;
      margin-bottom: 2.4rem;
    }

    &--bottom {
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
    }
  }

  &__calculation-label,
  &__calculation-value {
    color: #fff;
    font: var(--wp--preset--font-family--manrope) 1.6rem;
  }

  &__calculation-label {
    margin-bottom: 0.4rem;
    font-size: 1.6rem;

    &--small {
      font-size: 1.2rem;
    }
  }

  &__calculation-value {
    font-weight: 600;
    font-size: 1.6rem;
    &--small {
      font-size: 1.2rem;
    }
  }
}
